<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="OBeautifulCode.AccountingTime" version="1.0.139" targetFramework="net472" />
  <package id="OBeautifulCode.AccountingTime.Serialization.Json" version="1.0.139" targetFramework="net472" />
  <package id="OBeautifulCode.Compression" version="1.0.22" targetFramework="net472" />
  <package id="OBeautifulCode.Representation.System" version="1.0.60" targetFramework="net472" />
  <package id="OBeautifulCode.Serialization" version="1.0.112" targetFramework="net472" />
  <package id="OBeautifulCode.Serialization.Json" version="1.0.112" targetFramework="net472" />
  <package id="OBeautifulCode.Type" version="1.0.99" targetFramework="net472" />
</packages>